.new-name-form {
	width: 40%;
	margin: auto;
	.input-group {
		display: flex;
		margin: 0 auto;
		column-gap: 1rem;
		&.input-center {
			width: 10rem;
		}
	}
}

.input-new-names {
	&.input-error {
		margin-right: auto;
		margin-left: auto;
	}
}

.input-group {
	.input-wrapper {
		width: 50%;
	}
	.edit-button {
		width: 5rem;
	}
}